<div id="content">
	
    <h2><%= controller.selected_menu_option or controller.model.model_name.human.pluralize %></h2>
	
	<%=
		partial = CrudStar::Utility.get_action_help(controller.model, 'index')
		render(:partial => partial) unless partial.nil?
	%>
	
	<% if flash[:deleted] %>
       <p class="alert-ok">The <%= controller.model.model_name.human.downcase %> has been deleted.</p>
    <% end %>
	
	<% if flash[:notify] %>
       <p class="alert-ok"><%= flash[:notify] %></p>
    <% end %>
	
	
	<% unless @list.nil? or @list.empty? %>
	   
	   <%= render :partial => @list_filter_partial %>
	   
	   <% unless controller.model.export_attributes[session[:role]].nil? %>
	       <button class="button" onclick="window.location = '<%= url_for :format => :csv, :conditions => params[:conditions] %>'; return false;">Export CSV</button><br /><br />
	   <% end %>
	   
	   <div id="list"><%= render :partial => @list_partial rescue nil %></div>
	   
	<% else %>
    
        <div class="blankStateMessage">
        	
			<% unless params[:conditions].empty? and params[:search].empty? %>
			     
				<%= render :partial => @list_filter_partial %>
				 
			    <p class="alert-tip">There are no <%= controller.model.model_name.human.pluralize.downcase %> which match your filter criteria.</p>
				 
			<% else %>
			
	            <p class="alert-tip">There are no <%= controller.model.model_name.human.pluralize.downcase %> added yet.<%
				 if controller.permissions[session[:role]].include? 'new' %>
				    Now might be a good time to <%= link_to 'add a ' + controller.model.model_name.human.downcase, self.send(CrudStar::Utility.path_for_new_resource(controller.model)) %>!<%
				 end %></p>
			
			<% end %>
        </div>
    
    <% end %>
</div>

<% if controller.permissions[session[:role]].include?('new') or !controller.sidebar_actions[session[:role]][:list].nil? %>

<div id="sidebar">
    <h5>Resources</h5>
    <ul id="sidebar-nav">
    	
		<%
		  if controller.permissions[session[:role]].include? 'new'
        %>		
            <li><%= link_to 'Add a ' + controller.model.model_name.human, self.send(CrudStar::Utility.path_for_new_resource(controller.model)) %></li>
		<%
		  end
		%>
		
		<%=
          unless controller.sidebar_actions[session[:role]][:list].nil?
            controller.sidebar_actions[session[:role]][:list].each do |option|
        		'<li>' + link_to(option.first, option.last) + '</li>'
            end
          end
        %>
    </ul>
</div>

<% end %>
