<div id="content">
	
    <h2><%= controller.model.model_name.human %>: <%= get_value(@item, controller.model.crud_star_options[:default_attribute]) %></h2>
    
    <% if flash[:updated] %>
       <p class="alert-ok">Changes to the <%= controller.model.model_name.human.downcase %> have been saved.</p>
    
    <% elsif flash[:created] %>
       <p class="alert-ok">The <%= controller.model.model_name.human.downcase %> has been added.</p>
	<% end %>
	
	<% if flash[:notify] %>
	   <p class="alert-ok"><%= flash[:notify] %></p>
	<% end %>
	
	<%= render :partial => 'crud_star/errors', :locals => {:errors => flash[:errors]} %> 

	<%=
		partial = CrudStar::Utility.get_action_help(controller.model, 'show')
		render(:partial => partial) unless partial.nil?
	%>
	
	<table cellpadding="0" cellspacing="0" border="0">
		
		<%
          associations = []

		  controller.model.view_attributes[session[:crud_star][:role]].each do |attribute|
            
            hierarchy = attribute.split('.')

            association = CrudStar::Utility.get_association(controller.model, attribute)

            if association.nil? or ((association.macro == :belongs_to or association.macro == :has_one) and (!association.klass.respond_to?('view_associated_attributes')))
        %>
				<tr>
					<th><%= attribute.split('.').last.humanize %></th>
					<td><%= display_value(@item, attribute) || raw('<em>Undefined</em>') %></td>
				</tr>
		<%
		    else
                associations << attribute
            end
		  end
        %>
	</table>
	
	<%
      associations.each do |attribute|
        
        association = CrudStar::Utility.get_association(controller.model, attribute)

        if association.belongs_to?
    %>
	
	<h3><%= attribute.split('.').last.titleize %></h3>
	
	<table cellpadding="0" cellspacing="0" border="0">
        
        <%
           association.klass.view_associated_attributes[session[:crud_star][:role]].each do |associated_attribute|
        %>
	        <tr>
	            <th><%= associated_attribute.humanize %></th>
	            <td><%= display_value(@item, attribute + '.' + associated_attribute) || '<em>Undefined</em>' %></td>
	        </tr>
        <%
          end
        %>
    </table>
	
	<%
        elsif (association.macro == :has_many) or (association.macro == :has_and_belongs_to_many)
    %>
		  <div id="associated_<%= association.klass.name.underscore %>" class="association">
		  	
			<h3><%= attribute.titleize %></h3>
			
			<% if @item.send(attribute).empty? %>
			   <p>There are no <%= attribute.humanize.downcase %> associated with this <%= controller.model.model_name.human.downcase %>.</p>
			<%
              else
                @list = @item.send(attribute)
            %>
			  
			  <div id="list"><%= render :partial => CrudStar::Utility.get_partial(association.klass, 'list_associated'), :locals => {:association => association} %></div>
			  
			<%
			  end
            %>
	      </div>
	<%
	    end
	  end
    %>
</div>

<% if controller.permissions[session[:crud_star][:role]].include?('edit') or controller.permissions[session[:crud_star][:role]].include?('destroy') or !controller.sidebar_actions[session[:crud_star][:role]][:view].nil? %>

<div id="sidebar">
    <h5>Resources</h5>
    <ul id="sidebar-nav">
        <%
          if controller.permissions[session[:crud_star][:role]].include? 'edit'
        %>
		  <li><%= link_to 'Edit ' + controller.model.model_name.human, self.send(CrudStar::Utility.path_for_edit_resource(controller.model), @item) %></li>
        <%
		  end
		  if controller.permissions[session[:crud_star][:role]].include? 'destroy'
        %>
		  <li><%= link_to 'Delete ' + controller.model.model_name.human, self.send(CrudStar::Utility.path_for_resource(controller.model), @item), :method => :delete, :confirm => 'Are you sure you want to delete this ' + controller.model.model_name.human.downcase + '?' %></li>
		<%
		  end
		%>
		
		<%
		  unless controller.sidebar_actions[session[:crud_star][:role]][:view].nil?
            controller.sidebar_actions[session[:crud_star][:role]][:view].each do |option|
		%>
			<li><%= link_to(option.first, option.last) %></li>
		<%
		    end
          end
        %>
	</ul>
</div>

<% end %>