<div id="content">
	
    <h2><%= controller.model.human_name %>: <%= get_value(@item, controller.model.default_attribute) %></h2>
    
    <% if flash[:updated] %>
       <p class="alert-ok">Changes to the <%= controller.model.human_name.downcase %> have been saved.</p>
    
    <% elsif flash[:created] %>
       <p class="alert-ok">The <%= controller.model.human_name.downcase %> has been added.</p>
	<% end %>
	
	<% if flash[:notify] %>
	   <p class="alert-ok"><%= flash[:notify] %></p>
	<% end %>
	
	<%= render :partial => 'crud_star/errors' %> 
    
    <%= display_action_help(controller.controller_name, 'show') %>
	
	<table cellpadding="0" cellspacing="0" border="0">
		
		<%
          associations = []

		  controller.model.view_attributes[session[:role]].each do |attribute|
            
            hierarchy = attribute.split('.')

            association = get_association(controller.model, attribute)

            if association.nil? or ((association.macro == :belongs_to or association.macro == :has_one) and (!association.klass.respond_to?('view_associated_attributes')))
        %>
				<tr>
					<th><%= attribute.split('.').last.humanize %></th>
					<td><%= display_value(@item, attribute) || '<em>Undefined</em>' %></td>
				</tr>
		<%
		    else
                associations << attribute
            end
		  end
        %>
	</table>
	
	<%
      associations.each do |attribute|
        
        association = get_association(controller.model, attribute)

        if association.belongs_to?
    %>
	
	<h3><%= attribute.split('.').last.titleize %></h3>
	
	<table cellpadding="0" cellspacing="0" border="0">
        
        <%
           association.klass.view_associated_attributes[session[:role]].each do |associated_attribute|
        %>
	        <tr>
	            <th><%= associated_attribute.humanize %></th>
	            <td><%= display_value(@item, attribute + '.' + associated_attribute) || '<em>Undefined</em>' %></td>
	        </tr>
        <%
          end
        %>
    </table>
	
	<%
        elsif (association.macro == :has_many) or (association.macro == :has_and_belongs_to_many)
    %>
		  <div id="associated_<%= association.klass.name.underscore %>" class="association">
		  	
			<h3><%= attribute.titleize %></h3>
			
			<% if @item.send(attribute).empty? %>
			   <p>There are no <%= attribute.humanize.downcase %> associated with this <%= controller.model.human_name.downcase %>.</p>
			<%
              else
                @list = @item.send(attribute)
            %>
			  
			  <div id="list"><%= render :partial => get_partial(association.klass.name, 'list_associated'), :locals => {:association => association} %></div>
			  
			<%
			  end
            %>
	      </div>
	<%
	    end
	  end
    %>
</div>

<% if controller.permissions[session[:role]].include?('edit') or controller.permissions[session[:role]].include?('destroy') or !controller.sidebar_actions[session[:role]][:view].nil? %>

<div id="sidebar">
    <h5>Resources</h5>
    <ul id="sidebar-nav">
        <%
          if controller.permissions[session[:role]].include? 'edit'
        %>
		  <li><%= link_to 'Edit ' + controller.model.human_name, self.send('edit_' + controller.model.resource.singularize + '_path', @item) %></li>
        <%
		  end
		  if controller.permissions[session[:role]].include? 'destroy'
        %>
		  <li><%= link_to 'Delete ' + controller.model.human_name, self.send(controller.model.resource.singularize + '_path', @item), :method => :delete, :confirm => 'Are you sure you want to delete this ' + controller.model.human_name.downcase + '?' %></li>
		<%
		  end
		%>
		
		<%=
		  unless controller.sidebar_actions[session[:role]][:view].nil?
            controller.sidebar_actions[session[:role]][:view].each do |option|
				'<li>' + link_to(option.first, option.last) + '</li>'
		    end
          end
        %>
	</ul>
</div>

<% end %>