<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>
        <title><%= CrudStar::Engine.config.application_name %></title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
		<%= javascript_include_tag :defaults, 'crud_star/application', 'jquery/ui.js', 'jquery/ui/datepicker.js', 'jquery/ui/timepicker-addon-0.6.min.js' %>
		
        <%= stylesheet_link_tag('crud_star/reset.css') %>
        <%= stylesheet_link_tag('crud_star/' + CrudStar::Engine.config.theme + '.css') %>
        <%= stylesheet_link_tag('crud_star/admin.css') %>
        <%= stylesheet_link_tag('jquery/ui.css') %>

		<%= csrf_meta_tag %>
		
        <!--[if lte IE 6]>
            <%= stylesheet_link_tag('crud_star/ie6.css') %>
        <![endif]-->
    </head>
    
    <body>
        <div id="header">
            <h1><%= CrudStar::Engine.config.application_name %></h1>
            <div id="login"><p>Logged in as: <%= session[:crud_star][:username] %> | <%= link_to 'Logout »', send(CrudStar::Utility.path_for_resource(:logout)) %></p></div>
            <div class="clear"></div>
        </div>
		
        <div id="navi">
            <ul id="navtabs">
            	
				<% CrudStar::Engine.config.navigation.each do |nav| %>
					
					<%
						options = []
					
						if nav.class == Array
							tab = nav.first
							options = nav.last
						else
							tab = nav
						end
						
						if !options.empty? and options.include?(controller.controller_name.intern)
							@subnav = options
						end
					%>
				
					<% if tab == :dashboard %>
						<li<%= raw(controller.controller_name == 'index' ? ' id="current"' : nil) %>><%= link_to('Dashboard', self.send(CrudStar::Utility.path_for_resource(tab))) %></li>
					<% else %>
						<li<%= raw(((options.empty? and (controller.controller_name.intern == tab)) or (!options.empty? and options.include?(controller.controller_name.intern))) ? ' id="current"' : nil) %>><%= link_to((tab.class == Symbol ? tab.to_s.singularize.camelize.constantize.model_name.human.pluralize : tab), (tab.class == Symbol ? self.send(CrudStar::Utility.path_for_resources(tab)) : self.send(CrudStar::Utility.path_for_resources(options.first)))) %></li>
					<% end %>
			    <% end %>
			
            </ul>
            <div class="clear"></div>
        </div>
		
		<% unless @subnav.nil? or @subnav.empty? %>
        
        <div id="subnavi">      
            <ul id="subnav">
                <% @subnav.each do |tab| %>
                    <li<%= raw(controller.controller_name.intern == tab ? ' id="sub-current"' : nil) %>><%= link_to(tab.to_s.singularize.camelize.constantize.model_name.human.pluralize, self.send(CrudStar::Utility.path_for_resources(tab))) %></li>
                <% end %>
            </ul>
            <div class="clear"></div>
        </div>
		
		<% end %>
        
        <%= yield -%>
        
        <div class="clear"></div>
        
    </body>
</html>